body {
  background-color: #ffffff;
  color: #000000;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

[hidden] {
  display: none;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

svg, video {
  display: block;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246/var(--tw-bg-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235/var(--tw-border-opacity));
}

.border-t {
  border-top-width: 1px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-semibold {
  font-weight: 600;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-16 {
  height: 4rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.ml-12 {
  margin-left: 3rem;
}

.-mt-px {
  margin-top: -1px;
}

.max-w-6xl {
  max-width: 72rem;
}

.min-h-screen {
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.p-6 {
  padding: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-center {
  text-align: center;
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235/var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219/var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175/var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128/var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity));
}

.underline {
  text-decoration: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-auto {
  width: auto;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:h-20 {
    height: 5rem;
  }

  .sm\:ml-0 {
    margin-left: 0;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .md\:border-t-0 {
    border-top-width: 0;
  }

  .md\:border-l {
    border-left-width: 1px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
  }

  .dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81/var(--tw-border-opacity));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity));
  }

  .dark\:text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes buttonHover {
  0% {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  100% {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@keyframes buttonUnhover {
  0% {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  100% {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
}
* {
  font-family: Coolvetica;
}

.generic-section {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
  justify-content: space-between;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.generic-section .generic-text-block {
  display: flex;
  flex-direction: column;
  gap: 1em;
  transform: translateX(-100%);
  opacity: 0;
  transition: 2s;
}
.generic-section .generic-text-block > * {
  margin: 0;
}
.generic-section .generic-text-block h2 {
  color: #139dac;
  font-size: 7.5em;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.generic-section .generic-text-block p {
  max-width: 55vw;
  font-size: 2em;
}
.generic-section .generic-text-block .light-p {
  color: white;
}
.generic-section .generic-text-block .dark-p {
  color: #003f3b;
}
.generic-section .slide-in {
  animation: slideFromLeft 1s;
  opacity: 1;
  transform: translateX(0);
}
.generic-section button {
  font-family: Coolvetica;
  color: #fcee21;
  font-size: 1.7em;
  padding: 10px 50px;
  border-radius: 90px;
  background-color: transparent;
  border: 2px solid #fcee21;
  opacity: 0;
  max-width: 8em;
  align-self: center;
  cursor: pointer;
}
.generic-section button:hover {
  animation: buttonHover 0.2s ease-in-out forwards;
  font-weight: bold;
  border-width: 2px;
}
.generic-section button:not(:hover) {
  animation: buttonUnhover 0.2s ease-in-out forwards;
}
.generic-section:before {
  content: "";
}
.generic-section .bubbles-group {
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
.generic-section .bubbles-group .bubble {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.generic-section .bubbles-group .bubble .bubble-icon {
  background-color: #139dac;
  border-radius: 100%;
  width: 12em;
  height: 12em;
}
.generic-section .bubbles-group .bubble .bubble-label {
  color: #003f3b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes buttonHover {
  0% {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  100% {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@keyframes buttonUnhover {
  0% {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  100% {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
}
footer {
  position: sticky;
}
footer .footer-group {
  background-color: #139dac;
  color: white;
  display: flex;
  padding: 2.2em 2em;
  gap: 10em;
}
footer .footer-group .logo-footer {
  filter: brightness(0) invert(1);
  width: 10em;
}
footer .footer-group .content-footer {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-evenly;
  gap: 4em;
  font-size: 1.7em;
}
footer .footer-group .content-footer p {
  cursor: default;
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes buttonHover {
  0% {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  100% {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@keyframes buttonUnhover {
  0% {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  100% {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  max-width: 40vw;
  opacity: 0;
}
.contact-form .input-group {
  position: relative;
  pointer-events: none;
}
.contact-form .input-group * {
  font-size: 2em;
}
.contact-form .input-group input {
  pointer-events: all;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 4px;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.contact-form .input-group input:hover {
  border-bottom-color: #139dac;
}
.contact-form .input-group label {
  position: absolute;
  left: 0;
  top: 18%;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}

/*# sourceMappingURL=variables.css.map */
