@import "../global";

* {
    font-family: Coolvetica;
}

.generic-section {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
    justify-content: space-between;

    height: 100dvh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .generic-text-block {
        display: flex;
        flex-direction: column;
        gap: 1em;

        transform: translateX(-100%);
        opacity: 0;
        transition: 2s;

        > * {
            margin: 0;
        }

        h2 {
            color: $accent-color;
            font-size: 7.5em;
            text-shadow: 2px 2px 20px rgba(0,0,0,0.1);
        }

        p {
            max-width: 55vw;

            font-size: 2em;
        }

        .light-p {
            color: white;
        }

        .dark-p {
            color: $primary-color;
        }
    }

    .slide-in {
        animation: slideFromLeft 1s;

        opacity: 1;
        transform: translateX(0);
    }

    button {
        font-family: Coolvetica;

        color: $secondary-color;
        font-size: 1.7em;
        padding: 10px 50px;
        border-radius: 90px;
        background-color: transparent;
        border: 2px solid $secondary-color;

        opacity: 0;
        max-width: 8em;
        align-self: center;

        cursor: pointer;

        &:hover {
            animation: buttonHover .2s ease-in-out forwards;

            font-weight: bold;
            border-width: 2px;
        }

        &:not(:hover) {
            animation: buttonUnhover .2s ease-in-out forwards;
        }
    }

    &:before {
        content: '';
    }

    .bubbles-group {
        display: flex;
        justify-content: space-between;

        opacity: 0;
        .bubble {
            display: flex;
            align-items: center;

            flex-direction: column;
            gap: 1em;

            .bubble-icon {
                background-color: $accent-color;
                border-radius: 100%;
                width: 12em;
                height: 12em;
            }

            .bubble-label {
                color: $primary-color;
            }
        }
    }
}
